<template>
  <div>
    <!-- 面包屑导航区 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>项目管理</el-breadcrumb-item>
      <el-breadcrumb-item>部门管理</el-breadcrumb-item>
    </el-breadcrumb>
    <!-- 卡片视图 -->
    <el-card>
      <el-row :gutter="20">
        <el-col :span="6">
          <el-input placeholder="请输入关键字搜索部门"
                    v-model="queryInfo.kw"
                    clearable
                    @clear="getDepartmentsList"
                    @keyup.enter.native="getDepartmentsList">
            <el-button slot="append"
                       icon="el-icon-search"
                       @click="getDepartmentsList"></el-button>
          </el-input>
        </el-col>
        <el-col :span="4">
          <el-button type="primary"
                     @click="addDialogVisible = true">添加部门</el-button>
        </el-col>
      </el-row>
      <!-- 表格数据 -->
      <el-table :data="departmentsList"
                border
                stripe>
        <el-table-column align="center"
                         label="序号"
                         type="index"></el-table-column>
        <el-table-column label="部门名称"
                         prop="name"></el-table-column>
        <el-table-column align="center"
                         label="操作"
                         width="200px">
          <template slot-scope="scope">
            <el-button type="primary"
                       icon="el-icon-edit"
                       size="mini"
                       @click="editDepartmentById(scope.row.id)"></el-button>
            <el-button type="danger"
                       icon="el-icon-delete"
                       size="mini"
                       @click="removeById(scope.row.id)"></el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页区域 background -->
      <el-pagination @size-change="handleSizeChange"
                     @current-change="handleCurrentChange"
                     :current-page="queryInfo.page"
                     :page-sizes="[10, 20, 30, 40, 50]"
                     :page-size="queryInfo.pageSize"
                     layout="total, sizes, prev, pager, next, jumper"
                     :total="total"></el-pagination>
      <!-- 添加部门弹窗 -->
      <el-dialog title="添加部门"
                 :visible.sync="addDialogVisible"
                 width="30%"
                 :before-close="addHandleClose"
                 :close-on-click-modal="false">
        <!-- 弹窗body -->
        <el-form :model="addDepartmentForm"
                 :rules="addDepartmentFormRules"
                 ref="addDepartmentFormRef"
                 label-width="80px"
                 class="ruleForm">
          <el-form-item label="部门名称"
                        prop="name">
            <el-input v-model="addDepartmentForm.name"
                      placeholder="请输入部门名称"></el-input>
          </el-form-item>
        </el-form>
        <!-- 弹窗footer -->
        <span slot="footer"
              class="dialog-footer">
          <el-button @click="addCancelDialogVisible">取 消</el-button>
          <el-button type="primary"
                     @click="addDepartmentSubmit">确 定</el-button>
        </span>
      </el-dialog>

      <!-- 编辑部门弹窗 -->
      <el-dialog title="编辑部门"
                 :visible.sync="editDialogVisible"
                 width="30%"
                 :before-close="editHandleClose"
                 :close-on-click-modal="false">
        <!-- 弹窗body -->
        <el-form :model="editDepartmentForm"
                 :rules="editDepartmentFormRules"
                 ref="editDepartmentFormRef"
                 label-width="80px"
                 class="ruleForm">
          <el-form-item label="部门名称"
                        prop="name">
            <el-input v-model="editDepartmentForm.name"
                      placeholder="请输入部门名称"></el-input>
          </el-form-item>
        </el-form>
        <!-- 弹窗footer -->
        <span slot="footer"
              class="dialog-footer">
          <el-button @click="editCancelDialogVisible">取 消</el-button>
          <el-button type="primary"
                     @click="editDepartmentSubmit(editDepartmentForm.id)">确 定</el-button>
        </span>
      </el-dialog>
    </el-card>
  </div>
</template>

<script>
export default {
  data () {
    return {
      queryInfo: {
        kw: '',
        page: 1
        // pageSize: 10
      },
      // 商品列表
      departmentsList: [],
      // 商品总数
      total: 0,
      addDialogVisible: false,
      addDepartmentForm: { name: '' },
      addDepartmentFormRules: {
        name: [
          { required: true, message: '请输入部门名称', trigger: 'blur' },
          { min: 3, max: 32, message: '长度在 3 到 32 个字符', trigger: 'blur' }
        ]
      },
      editDialogVisible: false,
      editDepartmentForm: { id: '', name: '' },
      editDepartmentFormRules: {
        name: [
          { required: true, message: '请输入部门名称', trigger: 'blur' },
          { min: 3, max: 32, message: '长度在 3 到 32 个字符', trigger: 'blur' }
        ]
      }
    }
  },
  created () {
    this.getDepartmentsList()
  },
  methods: {
    // 根据分页获取对应的部门列表
    async getDepartmentsList () {
      const { data: res } = await this.$http.get('/interfaces/department', {
        params: this.queryInfo
      })
      if (res.code !== 200) {
        return this.$message.error(res.message)
      }
      this.departmentsList = res.data
      //   console.log(this.goodsList)
      this.total = res.total_count
    },
    // 添加项目弹窗 点击 x的效果
    addHandleClose () {
      this.addDialogVisible = false
      this.$refs.addDepartmentFormRef.resetFields()
    },
    // 取消按钮操作
    addCancelDialogVisible () {
      this.addDialogVisible = false
      this.$refs.addDepartmentFormRef.resetFields()
    },
    addDepartmentSubmit () {
      this.$refs.addDepartmentFormRef.validate(async valid => {
        if (!valid) return false
        const { data: res } = await this.$http.post(
          '/interfaces/department',
          this.addDepartmentForm
        )
        if (res.code !== 200) return this.$message.error('添加失败！')
        this.addDialogVisible = false
        this.$refs.addDepartmentFormRef.resetFields()
        this.$message.success('添加成功！')
        this.getDepartmentsList()
      })
    },
    // 变更分页size
    handleSizeChange (newSize) {
      this.queryInfo.pageSize = newSize
      this.getDepartmentsList()
    },
    // 变更页面
    handleCurrentChange (newSize) {
      this.queryInfo.page = newSize
      this.getDepartmentsList()
    },
    // 删除部门
    async removeById (id) {
      const confirmResult = await this.$confirm(
        '此操作将永久删除, 是否继续?',
        '温馨提示',
        {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }
      ).catch(err => err)
      if (confirmResult !== 'confirm') {
        return this.$message.info('已取消删除！')
      }
      const { data: res } = await this.$http.delete(
        '/interfaces/department/' + id
      )
      if (res.code !== 200) {
        return this.$message.error(res.message)
      }
      this.$message.success('删除成功！')
      this.getDepartmentsList()
    },
    async editDepartmentById (id) {
      const { data: res } = await this.$http.get('/interfaces/department/' + id)
      if (res.code !== 200) return this.$message.error('系统异常！')
      this.editDepartmentForm.name = res.data[0].name
      this.editDepartmentForm.id = res.data[0].id
      this.editDialogVisible = true
    },
    // 取消编辑部门按钮操作
    editCancelDialogVisible () {
      this.editDialogVisible = false
      this.$refs.editDepartmentFormRef.resetFields()
    },
    editDepartmentSubmit (id) {
      this.$refs.editDepartmentFormRef.validate(async valid => {
        if (!valid) return false
        const { data: res } = await this.$http.put(
          '/interfaces/department/' + id,
          this.editDepartmentForm
        )
        if (res.code !== 200) return this.$message.error('编辑失败！')
        this.editDialogVisible = false
        this.$refs.editDepartmentFormRef.resetFields()
        this.$message.success('编辑成功！')
        this.getDepartmentsList()
      })
    },
    // 添加部门弹窗 点击 x的效果
    editHandleClose () {
      this.$refs.editDepartmentFormRef.resetFields()
      this.editDialogVisible = false
    }
  }
}
</script>

<style lang="less" scoped></style>
