<template>
  <div>
    <!-- 面包屑导航区 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>项目管理</el-breadcrumb-item>
      <el-breadcrumb-item>项目管理</el-breadcrumb-item>
    </el-breadcrumb>
    <!-- 卡片视图 -->
    <el-card>
      <el-row :gutter="20">
        <el-col :span="6">
          <el-input
            placeholder="请输入关键字搜索项目"
            v-model="queryInfo.kw"
            clearable
            @clear="getProjectsList"
            @keyup.enter.native="getProjectsList"
          >
            <el-button slot="append" icon="el-icon-search" @click="getProjectsList"></el-button>
          </el-input>
        </el-col>
        <el-col :span="4">
          <el-button type="primary" @click="addDialogVisible=true">添加项目</el-button>
        </el-col>
      </el-row>
      <!-- 表格数据 -->
      <el-table :data="projectsList" border stripe>
        <el-table-column align="center" label="序号" type="index"></el-table-column>
        <el-table-column label="项目名称" prop="name"></el-table-column>
        <el-table-column label="归属项目" prop="department_name"></el-table-column>
        <el-table-column label="备注" prop="remark"></el-table-column>
        <el-table-column align="center" label="操作" width="200px">
          <template slot-scope="scope">
            <el-button
              type="primary"
              icon="el-icon-edit"
              size="mini"
              @click="editProjectById(scope.row.id)"
            ></el-button>
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              @click="removeById(scope.row.id)"
            ></el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页区域 background -->
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="queryInfo.page"
        :page-sizes="[10, 20, 30, 40, 50]"
        :page-size="queryInfo.pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      ></el-pagination>
      <!-- 添加项目弹窗 -->
      <el-dialog
        title="添加项目"
        :visible.sync="addDialogVisible"
        width="30%"
        :before-close="addHandleClose"
        :close-on-click-modal="false"
      >
        <!-- 弹窗body -->
        <el-form
          :model="addProjectForm"
          :rules="addProjectFormRules"
          ref="addProjectFormRef"
          label-width="80px"
          class="ruleForm"
        >
          <el-form-item label="项目名称" prop="name">
            <el-input v-model="addProjectForm.name" placeholder="请输入项目名称"></el-input>
          </el-form-item>
          <el-form-item label="归属部门" prop="department_id">
            <el-select v-model="addProjectForm.department_id" placeholder="请选择">
              <el-option
                v-for="department in departments"
                :key="department.id"
                :label="department.name"
                :value="department.id"
              ></el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="备  注" prop="remark">
            <el-input type="textarea" :rows="2" placeholder="请输入备注" v-model="addProjectForm.remark"></el-input>
          </el-form-item>
        </el-form>
        <!-- 弹窗footer -->
        <span slot="footer" class="dialog-footer">
          <el-button @click="addCancelDialogVisible">取 消</el-button>
          <el-button type="primary" @click="addProjectSubmit">确 定</el-button>
        </span>
      </el-dialog>

      <!-- 编辑项目弹窗 -->
      <el-dialog
        title="编辑项目"
        :visible.sync="editDialogVisible"
        width="30%"
        :before-close="editHandleClose"
        :close-on-click-modal="false"
      >
        <!-- 弹窗body -->
        <el-form
          :model="editProjectForm"
          :rules="editProjectFormRules"
          ref="editProjectFormRef"
          label-width="80px"
          class="ruleForm"
        >
          <el-form-item label="项目名称" prop="name">
            <el-input v-model="editProjectForm.name" placeholder="请输入项目名称"></el-input>
          </el-form-item>
          <el-form-item label="归属部门" prop="department_id">
            <el-select v-model="editProjectForm.department_id" placeholder="请选择">
              <el-option
                v-for="department in departments"
                :key="department.id"
                :label="department.name"
                :value="department.id"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="备  注" prop="remark">
            <el-input
              type="textarea"
              :rows="2"
              placeholder="请输入备注"
              v-model="editProjectForm.remark"
            ></el-input>
          </el-form-item>
        </el-form>
        <!-- 弹窗footer -->
        <span slot="footer" class="dialog-footer">
          <el-button @click="editCancelDialogVisible">取 消</el-button>
          <el-button type="primary" @click="editProjectSubmit(editProjectForm.id)">确 定</el-button>
        </span>
      </el-dialog>
    </el-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      queryInfo: {
        kw: '',
        page: 1
        // pageSize: 10
      },
      // 商品列表
      projectsList: [],
      // 商品总数
      total: 0,
      addDialogVisible: false,
      addProjectForm: {
        name: '',
        department_id: '',
        remark: ''
      },
      addProjectFormRules: {
        name: [
          { required: true, message: '请输入项目名称', trigger: 'blur' },
          { min: 3, max: 32, message: '长度在 3 到 32 个字符', trigger: 'blur' }
        ],
        department_id: [
          { required: true, message: '请选择归属部门', trigger: 'blur' }
        ],
        remark: [{ required: true, message: '请输入备注', trigger: 'blur' }]
      },
      editDialogVisible: false,
      editProjectForm: { id: '', name: '', department_id: '', remark: '' },
      editProjectFormRules: {
        name: [
          { required: true, message: '请输入项目名称', trigger: 'blur' },
          { min: 3, max: 32, message: '长度在 3 到 32 个字符', trigger: 'blur' }
        ]
      },
      departments: [],
      value: ''
    }
  },
  created() {
    this.getProjectsList()
    this.getDepartmentList()
  },
  methods: {
    // 根据分页获取对应的项目列表
    async getProjectsList() {
      const { data: res } = await this.$http.get('/interfaces/project', {
        params: this.queryInfo
      })
      if (res.code !== 200) {
        return this.$message.error(res.message)
      }
      this.projectsList = res.data
      //   console.log(this.goodsList)
      this.total = res.total_count
    },
    // 添加项目弹窗 点击 x的效果
    addHandleClose() {
      this.addDialogVisible = false
      this.$refs.addProjectFormRef.resetFields()
    },
    // 取消按钮操作
    addCancelDialogVisible() {
      this.addDialogVisible = false
      this.$refs.addProjectFormRef.resetFields()
    },
    addProjectSubmit() {
      this.$refs.addProjectFormRef.validate(async valid => {
        if (!valid) return false
        const { data: res } = await this.$http.post(
          '/interfaces/project',
          this.addProjectForm
        )
        if (res.code !== 200) return this.$message.error('添加失败！')
        this.addDialogVisible = false
        this.$refs.addProjectFormRef.resetFields()
        this.$message.success('添加成功！')
        this.getProjectsList()
      })
    },
    // 变更分页size
    handleSizeChange(newSize) {
      this.queryInfo.pageSize = newSize
      this.getProjectsList()
    },
    // 变更页面
    handleCurrentChange(newSize) {
      this.queryInfo.page = newSize
      this.getProjectsList()
    },
    // 删除项目
    async removeById(id) {
      const confirmResult = await this.$confirm(
        '此操作将永久删除该项目, 是否继续?',
        '温馨提示',
        {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }
      ).catch(err => err)
      if (confirmResult !== 'confirm') {
        return this.$message.info('已取消删除！')
      }
      const { data: res } = await this.$http.delete('/interfaces/project/' + id)
      if (res.code !== 200) {
        return this.$message.error(res.message)
      }
      this.$message.success('删除成功！')
      this.getProjectsList()
    },
    async editProjectById(id) {
      const { data: res } = await this.$http.get('/interfaces/project/' + id)
      if (res.code !== 200) return this.$message.error('系统异常！')
      this.editProjectForm.name = res.data[0].name
      this.editProjectForm.id = res.data[0].id
      this.editProjectForm.department_id = res.data[0].department_id
      this.editProjectForm.remark = res.data[0].remark
      this.editDialogVisible = true
    },
    // 获取部门信息
    async getDepartmentList() {
      const { data: res } = await this.$http.get(
        '/interfaces/department?pageSize=100'
      )
      if (res.code !== 200) return this.$message.error('系统异常！')
      this.departments = res.data
    },
    // 取消编辑项目按钮操作
    editCancelDialogVisible() {
      this.editDialogVisible = false
      this.$refs.editProjectFormRef.resetFields()
    },
    editProjectSubmit(id) {
      this.$refs.editProjectFormRef.validate(async valid => {
        if (!valid) return false
        const { data: res } = await this.$http.put(
          '/interfaces/project/' + id,
          this.editProjectForm
        )
        if (res.code !== 200) return this.$message.error('编辑失败！')
        this.editDialogVisible = false
        this.$refs.editProjectFormRef.resetFields()
        this.$message.success('编辑成功！')
        this.getProjectsList()
      })
    },
    // 添加环境弹窗 点击 x的效果
    editHandleClose() {
      this.$refs.editProjectFormRef.resetFields()
      this.editDialogVisible = false
    }
  }
}
</script>

<style lang="less" scoped></style>
