<template>
  <div>
    <!-- 面包屑导航区 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>项目管理</el-breadcrumb-item>
      <el-breadcrumb-item>版本管理</el-breadcrumb-item>
    </el-breadcrumb>
    <el-card>
      <el-row :gutter="20">
        <el-col :span="6">
          <el-input
            placeholder="请输入关键字搜索版本"
            v-model="queryInfo.kw"
            @clear="getVersionsList"
            @keyup.enter.native="getVersionsList"
            clearable
          >
            <el-button slot="append" icon="el-icon-search" @click="getVersionsList"></el-button>
          </el-input>
        </el-col>
        <el-col :span="4">
          <el-button type="primary" @click="addDialogVisible = true">添加版本</el-button>
        </el-col>
      </el-row>

      <!-- 表格数据 -->
      <el-table :data="versionsList" border stripe>
        <el-table-column align="center" label="序号" type="index"></el-table-column>
        <el-table-column label="版本号" prop="version"></el-table-column>
        <el-table-column label="所属项目" prop="project_name"></el-table-column>
        <el-table-column label="项目经理" prop="project_manager"></el-table-column>
        <el-table-column label="产品经理" prop="product_manager"></el-table-column>
        <el-table-column label="测试负责人" prop="tester"></el-table-column>
        <el-table-column label="开始时间" prop="submit_test_date" width="100px"></el-table-column>
        <el-table-column label="结束时间" prop="st_done_date" width="100px"></el-table-column>
        <el-table-column label="UAT时间" prop="uat_date" width="100px"></el-table-column>
        <el-table-column align="center" label="操作" width="200px">
          <template slot-scope="scope">
            <el-button
              type="primary"
              icon="el-icon-edit"
              size="mini"
              @click="editVersionById(scope.row.id)"
            ></el-button>
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              @click="removeById(scope.row.id)"
            ></el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页区域 background -->
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="queryInfo.page"
        :page-sizes="[10, 20, 30, 40, 50]"
        :page-size="queryInfo.pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      ></el-pagination>

      <!-- 添加功能弹窗 -->
      <el-dialog
        title="添加版本"
        :visible.sync="addDialogVisible"
        width="30%"
        :before-close="addHandleClose"
        :close-on-click-modal="false"
      >
        <!-- 弹窗body -->
        <el-form
          :model="addVersionForm"
          :rules="addVersionFormRules"
          ref="addVersionFormRef"
          label-width="110px"
          class="ruleForm"
        >
          <el-form-item label="所属项目" prop="project_id">
            <el-select v-model="addVersionForm.project_id" placeholder="请选择">
              <el-option
                v-for="project in projects"
                :key="project.id"
                :label="project.name"
                :value="project.id"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="版本号" prop="version">
            <el-input v-model="addVersionForm.version" placeholder="请输入版本号"></el-input>
          </el-form-item>
          <el-form-item label="项目经理" prop="project_manager">
            <el-input v-model="addVersionForm.project_manager" placeholder="请输入项目经理"></el-input>
          </el-form-item>
          <el-form-item label="产品经理" prop="product_manager">
            <el-input v-model="addVersionForm.product_manager" placeholder="请输入产品经理"></el-input>
          </el-form-item>
          <el-form-item label="后端负责人" prop="backend_dev">
            <el-input v-model="addVersionForm.backend_dev" placeholder="请输入后端负责人"></el-input>
          </el-form-item>
          <el-form-item label="前端负责人" prop="frontend_dev">
            <el-input v-model="addVersionForm.frontend_dev" placeholder="请输入前端负责人"></el-input>
          </el-form-item>
          <el-form-item label="运维负责人" prop="operation_dev">
            <el-input v-model="addVersionForm.operation_dev" placeholder="请输入运维负责人"></el-input>
          </el-form-item>
          <el-form-item label="测试负责人" prop="tester">
            <el-input v-model="addVersionForm.tester" placeholder="请输入测试负责人"></el-input>
          </el-form-item>
          <el-form-item label="JQL查询语句" prop="jql">
            <el-input v-model="addVersionForm.jql" placeholder="请输入JQL查询语句"></el-input>
          </el-form-item>
          <el-form-item label="测试时间">
            <el-col :span="11">
              <el-date-picker
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="开始日期"
                v-model="addVersionForm.submit_test_date"
                style="width: 100%;"
              ></el-date-picker>
            </el-col>
            <el-col class="line" :span="1">-</el-col>
            <el-col :span="11">
              <el-date-picker
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="完成时间"
                v-model="addVersionForm.st_done_date"
                style="width: 100%;"
              ></el-date-picker>
            </el-col>
          </el-form-item>
          <el-form-item label="UAT时间" prop="uat_date">
            <el-date-picker
              type="date"
              value-format="yyyy-MM-dd"
              v-model="addVersionForm.uat_date"
              placeholder="UAT时间"
            ></el-date-picker>
          </el-form-item>
          <el-form-item label="测试耗时" prop="test_time_consuming">
            <el-input-number
              controls-position="right"
              :min="0"
              :max="100"
              v-model="addVersionForm.test_time_consuming"
              placeholder="测试耗时"
            ></el-input-number>
          </el-form-item>
          <el-form-item label="测试进度" prop="test_progress">
            <el-input-number
              controls-position="right"
              :min="0"
              :max="100"
              v-model="addVersionForm.test_progress"
              placeholder="测试进度"
            ></el-input-number>
          </el-form-item>
        </el-form>
        <!-- 弹窗footer -->
        <span slot="footer" class="dialog-footer">
          <el-button @click="addCancelDialogVisible">取 消</el-button>
          <el-button type="primary" @click="addVersionSubmit">确 定</el-button>
        </span>
      </el-dialog>

      <!-- 编辑功能弹窗 -->
      <el-dialog
        title="编辑版本"
        :visible.sync="editDialogVisible"
        width="30%"
        :before-close="editHandleClose"
        :close-on-click-modal="false"
      >
        <!-- 弹窗body -->
        <el-form
          :model="editVersionForm"
          :rules="editVersionFormRules"
          ref="editVersionFormRef"
          label-width="110px"
          class="ruleForm"
        >
          <el-form-item label="所属项目" prop="project_id">
            <el-select v-model="editVersionForm.project_id" placeholder="请选择">
              <el-option
                v-for="project in projects"
                :key="project.id"
                :label="project.name"
                :value="project.id"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="版本号" prop="version">
            <el-input v-model="editVersionForm.version" placeholder="请输入版本号"></el-input>
          </el-form-item>
          <el-form-item label="项目经理" prop="project_manager">
            <el-input v-model="editVersionForm.project_manager" placeholder="请输入项目经理"></el-input>
          </el-form-item>
          <el-form-item label="产品经理" prop="product_manager">
            <el-input v-model="editVersionForm.product_manager" placeholder="请输入产品经理"></el-input>
          </el-form-item>
          <el-form-item label="后端负责人" prop="backend_dev">
            <el-input v-model="editVersionForm.backend_dev" placeholder="请输入后端负责人"></el-input>
          </el-form-item>
          <el-form-item label="前端负责人" prop="frontend_dev">
            <el-input v-model="editVersionForm.frontend_dev" placeholder="请输入前端负责人"></el-input>
          </el-form-item>
          <el-form-item label="运维负责人" prop="operation_dev">
            <el-input v-model="editVersionForm.operation_dev" placeholder="请输入运维负责人"></el-input>
          </el-form-item>
          <el-form-item label="测试负责人" prop="tester">
            <el-input v-model="editVersionForm.tester" placeholder="请输入测试负责人"></el-input>
          </el-form-item>
          <el-form-item label="JQL查询语句" prop="jql">
            <el-input v-model="editVersionForm.jql" placeholder="请输入JQL查询语句"></el-input>
          </el-form-item>
          <el-form-item label="测试时间">
            <el-col :span="11">
              <el-date-picker
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="开始日期"
                v-model="editVersionForm.submit_test_date"
                style="width: 100%;"
              ></el-date-picker>
            </el-col>
            <el-col class="line" :span="1">-</el-col>
            <el-col :span="11">
              <el-date-picker
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="完成时间"
                v-model="editVersionForm.st_done_date"
                style="width: 100%;"
              ></el-date-picker>
            </el-col>
          </el-form-item>
          <el-form-item label="UAT时间" prop="uat_date">
            <el-date-picker
              type="date"
              value-format="yyyy-MM-dd"
              v-model="editVersionForm.uat_date"
              placeholder="UAT时间"
            ></el-date-picker>
          </el-form-item>
          <el-form-item label="测试耗时" prop="test_time_consuming">
            <el-input-number
              controls-position="right"
              :min="0"
              :max="100"
              v-model="editVersionForm.test_time_consuming"
              placeholder="测试耗时"
            ></el-input-number>
          </el-form-item>
          <el-form-item label="测试进度" prop="test_progress">
            <el-input-number
              controls-position="right"
              :min="0"
              :max="100"
              v-model="editVersionForm.test_progress"
              placeholder="测试进度"
            ></el-input-number>
          </el-form-item>
        </el-form>
        <!-- 弹窗footer -->
        <span slot="footer" class="dialog-footer">
          <el-button @click="editCancelDialogVisible">取 消</el-button>
          <el-button type="primary" @click="editVersionSubmit(editVersionForm.id)">确 定</el-button>
        </span>
      </el-dialog>
    </el-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      queryInfo: {
        kw: '',
        page: 1
      },
      addDialogVisible: false,
      editDialogVisible: false,
      projects: [],
      versionsList: [],
      total: 0,
      addVersionForm: {
        version: '',
        project_id: '',
        submit_test_date: '',
        st_done_date: '',
        uat_date: '',
        product_manager: '',
        project_manager: '',
        frontend_dev: '',
        backend_dev: '',
        operation_dev: '',
        tester: '',
        jql: '',
        test_time_consuming: '',
        test_progress: ''
      },
      addVersionFormRules: {
        version: [
          { required: true, message: '请输入版本号', trigger: 'blur' },
          { min: 1, max: 32, message: '长度在 1 到 32 个字符', trigger: 'blur' }
        ],
        project_id: [
          { required: true, message: '请选择项目', trigger: 'blur' }
        ],
        submit_test_date: [
          { required: true, message: '提测日期', trigger: 'blur' }
        ],
        st_done_date: [
          { required: true, message: '完成日期', trigger: 'blur' }
        ],
        uat_date: [{ required: true, message: 'UAT日期', trigger: 'blur' }],
        product_manager: [
          { required: true, message: '请输入产品经理', trigger: 'blur' },
          { min: 1, max: 32, message: '长度在 1 到 32 个字符', trigger: 'blur' }
        ],
        project_manager: [
          { required: true, message: '请输入项目经理', trigger: 'blur' },
          { min: 1, max: 32, message: '长度在 1 到 32 个字符', trigger: 'blur' }
        ],
        frontend_dev: [
          { required: true, message: '请输入前端负责人', trigger: 'blur' },
          { min: 1, max: 32, message: '长度在 1 到 32 个字符', trigger: 'blur' }
        ],
        backend_dev: [
          { required: true, message: '请输入后端负责人', trigger: 'blur' },
          { min: 1, max: 32, message: '长度在 1 到 32 个字符', trigger: 'blur' }
        ],
        operation_dev: [
          { required: true, message: '请输入运维负责人', trigger: 'blur' },
          { min: 1, max: 32, message: '长度在 1 到 32 个字符', trigger: 'blur' }
        ],
        tester: [
          { required: true, message: '请输入测试负责人', trigger: 'blur' },
          { min: 1, max: 32, message: '长度在 1 到 32 个字符', trigger: 'blur' }
        ],
        jql: [
          { required: true, message: '请输入jql语句', trigger: 'blur' },
          {
            min: 1,
            max: 1024,
            message: '长度在 1 到 1024 个字符',
            trigger: 'blur'
          }
        ],
        test_time_consuming: [
          {
            required: true,
            message: '请输入测试消耗时时间比',
            trigger: 'blur'
          }
        ],
        test_progress: [
          { required: true, message: '请输入测试进度比', trigger: 'blur' }
        ]
      },
      editVersionForm: {
        id: '',
        version: '',
        project_id: '',
        submit_test_date: '',
        st_done_date: '',
        uat_date: '',
        product_manager: '',
        project_manager: '',
        frontend_dev: '',
        backend_dev: '',
        operation_dev: '',
        tester: '',
        jql: '',
        test_time_consuming: '',
        test_progress: ''
      },
      editVersionFormRules: {
        version: [
          { required: true, message: '请输入版本号', trigger: 'blur' },
          { min: 1, max: 32, message: '长度在 1 到 32 个字符', trigger: 'blur' }
        ],
        project_id: [
          { required: true, message: '请选择项目', trigger: 'blur' }
        ],
        submit_test_date: [
          { required: true, message: '提测日期', trigger: 'blur' }
        ],
        st_done_date: [
          { required: true, message: '完成日期', trigger: 'blur' }
        ],
        uat_date: [{ required: true, message: 'UAT日期', trigger: 'blur' }],
        product_manager: [
          { required: true, message: '请输入产品经理', trigger: 'blur' },
          { min: 1, max: 32, message: '长度在 1 到 32 个字符', trigger: 'blur' }
        ],
        project_manager: [
          { required: true, message: '请输入项目经理', trigger: 'blur' },
          { min: 1, max: 32, message: '长度在 1 到 32 个字符', trigger: 'blur' }
        ],
        frontend_dev: [
          { required: true, message: '请输入前端负责人', trigger: 'blur' },
          { min: 1, max: 32, message: '长度在 1 到 32 个字符', trigger: 'blur' }
        ],
        backend_dev: [
          { required: true, message: '请输入后端负责人', trigger: 'blur' },
          { min: 1, max: 32, message: '长度在 1 到 32 个字符', trigger: 'blur' }
        ],
        operation_dev: [
          { required: true, message: '请输入运维负责人', trigger: 'blur' },
          { min: 1, max: 32, message: '长度在 1 到 32 个字符', trigger: 'blur' }
        ],
        tester: [
          { required: true, message: '请输入测试负责人', trigger: 'blur' },
          { min: 1, max: 32, message: '长度在 1 到 32 个字符', trigger: 'blur' }
        ],
        jql: [
          { required: true, message: '请输入jql语句', trigger: 'blur' },
          {
            min: 1,
            max: 1024,
            message: '长度在 1 到 1024 个字符',
            trigger: 'blur'
          }
        ],
        test_time_consuming: [
          {
            required: true,
            message: '请输入测试消耗时时间比',
            trigger: 'blur'
          }
        ],
        test_progress: [
          { required: true, message: '请输入测试进度比', trigger: 'blur' }
        ]
      }
    }
  },
  created() {
    this.getVersionsList()
    this.getProjectsList()
  },
  methods: {
    async getProjectsList() {
      const { data: res } = await this.$http.get(
        '/interfaces/project?pageSize=100'
      )
      if (res.code !== 200) return this.$message.error('系统异常！')
      this.projects = res.data
    },
    // 取消按钮操作
    addCancelDialogVisible() {
      this.addDialogVisible = false
      this.$refs.addVersionFormRef.resetFields()
    },
    addVersionSubmit() {
      this.$refs.addVersionFormRef.validate(async valid => {
        if (!valid) return false
        const { data: res } = await this.$http.post(
          '/interfaces/version',
          this.addVersionForm
        )
        if (res.code !== 200) return this.$message.error('添加失败！')
        this.addDialogVisible = false
        this.$refs.addVersionFormRef.resetFields()
        this.$message.success('添加成功！')
        this.getVersionsList()
      })
    },

    async editVersionById(id) {
      const { data: res } = await this.$http.get('/interfaces/version/' + id)
      if (res.code !== 200) return this.$message.error('系统异常！')
      this.editVersionForm.version = res.data[0].version
      this.editVersionForm.project_id = res.data[0].project_id
      this.editVersionForm.submit_test_date = res.data[0].submit_test_date
      this.editVersionForm.st_done_date = res.data[0].st_done_date
      this.editVersionForm.uat_date = res.data[0].uat_date
      this.editVersionForm.product_manager = res.data[0].product_manager
      this.editVersionForm.project_manager = res.data[0].project_manager
      this.editVersionForm.frontend_dev = res.data[0].frontend_dev
      this.editVersionForm.backend_dev = res.data[0].backend_dev
      this.editVersionForm.operation_dev = res.data[0].operation_dev
      this.editVersionForm.tester = res.data[0].tester
      this.editVersionForm.jql = res.data[0].jql
      this.editVersionForm.test_time_consuming = res.data[0].test_time_consuming
      this.editVersionForm.test_progress = res.data[0].test_progress
      this.editVersionForm.id = res.data[0].id
      this.editDialogVisible = true
    },
    // 删除
    async removeById(id) {
      const confirmResult = await this.$confirm(
        '此操作将永久删除数据, 是否继续?',
        '温馨提示',
        {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }
      ).catch(err => err)
      if (confirmResult !== 'confirm') {
        return this.$message.info('已取消删除！')
      }
      const { data: res } = await this.$http.delete('/interfaces/version/' + id)
      if (res.code !== 200) {
        return this.$message.error(res.message)
      }
      this.$message.success('删除成功！')
      this.getVersionsList()
    },

    // 根据分页获取对应的项目列表
    async getVersionsList() {
      const { data: res } = await this.$http.get('/interfaces/version', {
        params: this.queryInfo
      })
      if (res.code !== 200) {
        return this.$message.error(res.message)
      }
      this.versionsList = res.data
      //   console.log(this.goodsList)
      this.total = res.total_count
    },
    // 变更分页size
    handleSizeChange(newSize) {
      this.queryInfo.pageSize = newSize
      this.getVersionsList()
    },
    // 变更页面
    handleCurrentChange(newSize) {
      this.queryInfo.page = newSize
      this.getProjectsList()
    },
    // 添加项目弹窗 点击 x的效果
    addHandleClose() {
      this.addDialogVisible = false
      this.$refs.addVersionFormRef.resetFields()
    },
    // 取消编辑项目按钮操作
    editCancelDialogVisible() {
      this.editDialogVisible = false
      this.$refs.editVersionFormRef.resetFields()
    },
    // 添加环境弹窗 点击 x的效果
    editHandleClose() {
      this.$refs.editVersionFormRef.resetFields()
      this.editDialogVisible = false
    },
    editVersionSubmit(id) {
      this.$refs.editVersionFormRef.validate(async valid => {
        if (!valid) return false
        const { data: res } = await this.$http.put(
          '/interfaces/version/' + id,
          this.editVersionForm
        )
        if (res.code !== 200) return this.$message.error('编辑失败！')
        this.editDialogVisible = false
        this.$refs.editVersionFormRef.resetFields()
        this.$message.success('编辑成功！')
        this.getVersionsList()
      })
    }
  }
}
</script>

<style lang="less" scoped></style>
