<template>
  <div>
    <!-- 面包屑导航区 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>报告管理</el-breadcrumb-item>
      <el-breadcrumb-item>日报生成</el-breadcrumb-item>
    </el-breadcrumb>
    <el-card>很懒，还没有页面！</el-card>
  </div>
</template>

<script>
export default {}
</script>

<style scoped></style>>
