<template>
  <div>
    <!-- 面包屑导航区 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>报告管理</el-breadcrumb-item>
      <el-breadcrumb-item>Jira缺陷分析</el-breadcrumb-item>
    </el-breadcrumb>

    <el-card>
      <div>
        <el-form
          :model="jqlForm"
          :rules="jqlFormRules"
          ref="jqlFormRef"
          label-width="50px"
          class="ruleForm"
        >
          <el-row :gutter="10">
            <el-col>
              <el-form-item label="JQL：" prop="jql">
                <el-input
                  placeholder="请输入或选择Jira查询语句"
                  v-model="jqlForm.jql"
                  @keyup.enter.native="jqlSubmit"
                  clearable
                >
                  <el-select
                    v-model="jqlForm.jql"
                    style="width: 120px !important"
                    slot="prepend"
                    placeholder="请选择"
                  >
                    <el-option
                      v-for="tjql in tjqls"
                      :key="tjql.id"
                      :label="tjql.name"
                      :value="tjql.jql"
                    ></el-option>
                  </el-select>
                  <el-button
                    style="background-color: #0b67e2 !important; border-color: #0b67e2 !important; color: #FFFFFF"
                    slot="append"
                    @click="jqlSubmit"
                  >生成图表</el-button>
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>
      <div>
        今天新建缺陷：{{ todayBug.created}}个，目前缺陷总数：{{ todayBug.total}}个，未完结：{{ todayBug.todo}}个，
        <span
          style="color: red"
        >其中Highest、High级别的缺陷：{{ todayBug.high}}个</span>。详细的缺陷情况如下:
      </div>
      <div
        id="main"
        v-loading="loading"
        element-loading-text="拼命加载中"
        element-loading-spinner="el-icon-loading"
        element-loading-background="rgba(0, 0, 0, 0.8)"
        style="width: 1100px; height:466px;"
      ></div>
    </el-card>

    <el-card>
      <div>
        <el-alert
          title="未完结缺陷列表"
          style="width:-webkit-calc(100% - 116px);float:left;"
          type="warning"
          effect="dark"
          :closable="false"
          show-icon
        ></el-alert>
        <el-button
          style="width: 115px; display:inline-block; float: right;"
          type="primary"
          size="medium"
          @click="downloadXls"
        >
          <i class="Hui-iconfont Hui-iconfont-down"></i> 导出Excel
        </el-button>
      </div>

      <!-- 表格数据 -->

      <el-table
        :data="bugsList"
        v-loading="loading"
        element-loading-text="拼命加载中"
        element-loading-spinner="el-icon-loading"
        element-loading-background="rgba(0, 0, 0, 0.8)"
        style="width: 100%"
        border
        stripe
      >
        <el-table-column align="center" label="序号" type="index" width="50px"></el-table-column>
        <el-table-column align="center" label="Jira 链接" width="120px">
          <template slot-scope="scope">
            <a
              :href="'http://jiradc.ipo.com/browse/' + scope.row.bugid"
              target="_blank"
              class="buttonText"
            >{{ scope.row.bugid }}</a>
          </template>
        </el-table-column>
        <el-table-column label="标题" prop="summary"></el-table-column>
        <el-table-column align="center" label="经办人" prop="assignee" width="100px"></el-table-column>
        <el-table-column align="center" label="报告人" prop="reporter" width="100px"></el-table-column>
        <el-table-column align="center" label="优先级" prop="priority" width="100px"></el-table-column>
        <el-table-column align="center" label="状态" prop="status" width="100px"></el-table-column>
        <el-table-column align="center" label="创建日期" prop="created" width="100px"></el-table-column>
      </el-table>
    </el-card>
    <el-card>
      <el-col :span="8">
        <el-alert
          title="开发人员缺陷统计列表"
          style="width:-webkit-calc(100%);float:left;"
          type="warning"
          effect="dark"
          :closable="false"
          show-icon
        ></el-alert>
        <el-table
          :data="devList"
          v-loading="loading"
          element-loading-text="拼命加载中"
          element-loading-spinner="el-icon-loading"
          element-loading-background="rgba(0, 0, 0, 0.8)"
          style="width: 100%"
          border
          stripe
        >
          <el-table-column align="center" label="序号" type="index" width="50px"></el-table-column>
          <el-table-column align="center" label="开发人员" prop="name" width="120px"></el-table-column>
          <el-table-column align="center" label="总缺陷数(个)" prop="total" width="120px"></el-table-column>
          <el-table-column align="center" label="已修复数(个)" prop="fixed" width="120px"></el-table-column>
          <el-table-column align="center" label="待修复数(个)" prop="no_fix" width="120px"></el-table-column>
        </el-table>
      </el-col>
      <el-col :span="5">
        <el-alert
          title="测试人员提交缺陷数列表"
          style="width:-webkit-calc(100%);float:left;"
          type="warning"
          effect="dark"
          :closable="false"
          show-icon
        ></el-alert>
        <el-table
          :data="testerList"
          v-loading="loading"
          element-loading-text="拼命加载中"
          element-loading-spinner="el-icon-loading"
          element-loading-background="rgba(0, 0, 0, 0.8)"
          style="width: 100%"
          border
          stripe
        >
          <el-table-column align="center" label="序号" type="index" width="50px"></el-table-column>
          <el-table-column align="center" label="测试人员" prop="name" width="120px"></el-table-column>
          <el-table-column align="center" label="提交缺陷数(个)" prop="count" width="120px"></el-table-column>
        </el-table>
      </el-col>
    </el-card>
  </div>
</template>

<script>
import echarts from 'echarts'
export default {
  data() {
    return {
      todayBug: {
        created: 0,
        total: 0,
        todo: 0,
        high: 0
      },
      jqlForm: {
        jql: ''
      },
      tjqls: [],
      // 表单验证
      jqlFormRules: {
        jql: [
          {
            required: true,
            message: '请输入或选择Jira查询语句',
            trigger: 'blur'
          },
          {
            min: 1,
            max: 1000,
            message: '长度在 1 到 1000 个字符',
            trigger: 'blur'
          }
        ]
      },

      bugsLine: {
        dateline: [],
        fixed: [],
        created: [],
        todo: []
      },
      bugsList: [],
      recordId: 0,
      loading: false,
      devList: [],
      testerList: []
    }
  },
  async mounted() {
    // 基于准备好的dom，初始化echarts实例
    this.myChart = echarts.init(document.getElementById('main'))
    var option = {
      color: ['#FF0000', '#009900', '#990099'],
      title: {
        text: '缺陷折线图',
        subtext:
          '新建、完结、未完结，其中：未完结包含待修复、修复中、待测试、测试中'
      },
      tooltip: {
        trigger: 'axis'
      },
      legend: {
        data: ['新建', '完结', '未完结']
      },
      grid: {
        left: '1%',
        right: '5%',
        bottom: '1%',
        containLabel: true
      },
      toolbox: {
        show: true,
        feature: {
          saveAsImage: { show: true },
          magicType: {
            show: true,
            type: ['line', 'stack', 'bar', 'tiled']
          },
          restore: { show: true },
          mark: { show: true }
        }
      },
      calculable: true,
      xAxis: {
        type: 'category',
        // axisTick: {
        //   alignWithLabel: true
        // },
        boundaryGap: false,
        data: this.bugsLine.dateline
      },
      yAxis: [
        {
          type: 'value'
        }
      ],
      series: [
        {
          name: '新建',
          type: 'line',
          stack: '1',
          smooth: true,
          //   data: this.bugsLine.created,
          itemStyle: {
            normal: {
              label: {
                show: true,
                formatter: '{c}'
              }
            }
          }
        },
        {
          name: '完结',
          type: 'line',
          stack: '2',
          smooth: true,
          //   data: this.bugsLine.fixed,
          itemStyle: {
            normal: {
              label: {
                show: true,
                formatter: '{c}'
              }
            }
          }
        },
        {
          name: '未完结',
          type: 'line',
          stack: '3',
          smooth: true,
          //   data: this.bugsLine.todo,
          itemStyle: {
            normal: {
              label: {
                show: true,
                formatter: '{c}'
              }
            }
          }
        }
      ]
    }
    // const result = _.merge([[1], [11], [12]], options)

    // 使用刚指定的配置项和数据显示图表。
    this.myChart.setOption(option)
  },
  created() {
    this.getJqlList()
  },
  methods: {
    async downloadXls() {
      if (this.recordId === 0) {
        return this.$message.error('数据不存在，导出Excel异常！')
      }
      // const { data: res } = await this.$http.get(
      //   '/jiradc/download/' + this.recordId
      // )
      console.log(this.$http)
      let url = this.GLOBAL.BASE_URL + '/jiradc/download/' + this.recordId
      window.open(url)
      // if (res.code !== 200) {
      //   this.loading = false
      //   return this.$message.error(res.message)
      // }
    },
    async getJqlList() {
      const { data: res } = await this.$http.get('/jiradc/jql?pageSize=100')
      if (res.code !== 200) return this.$message.error('系统异常！')
      this.tjqls = res.data
    },
    jqlSubmit() {
      // 表单预验证
      // valid：bool类型
      this.$refs.jqlFormRef.validate(async valid => {
        if (!valid) return false
        // this.$http.post('login', this.loginForm): 返回值为promise
        // 返回值为promise，可加await简化操作 相应的也要加async
        // console.log(valid)
        this.loading = true
        const { data: res } = await this.$http.get(
          '/jiradc/bugs?jql=' + this.jqlForm.jql
        )
        if (res.code !== 200) {
          this.loading = false
          return this.$message.error(res.message)
        }

        this.$message.success(res.message)
        const {
          bug_line: { dateline, created, fixed, todo }
        } = res
        this.bugsList = res.bugs_list
        this.recordId = res.record_id
        this.todayBug = res.today_bug
        this.devList = res.developer
        this.testerList = res.tester

        var option = {
          color: ['#FF0000', '#009900', '#990099'],
          title: {
            text: '缺陷折线图',
            subtext:
              '新建、完结、未完结，其中：未完结包含待修复、修复中、待测试、测试中'
          },
          tooltip: {
            trigger: 'axis'
          },
          legend: {
            data: ['新建', '完结', '未完结']
          },
          grid: {
            left: '1%',
            right: '5%',
            bottom: '1%',
            containLabel: true
          },
          toolbox: {
            show: true,
            feature: {
              saveAsImage: { show: true },
              magicType: {
                show: true,
                type: ['line', 'stack', 'bar', 'tiled']
              },
              restore: { show: true },
              mark: { show: true }
            }
          },
          calculable: true,
          xAxis: {
            type: 'category',
            // axisTick: {
            //   alignWithLabel: true
            // },
            boundaryGap: false,
            data: dateline
          },
          yAxis: [
            {
              type: 'value'
            }
          ],
          series: [
            {
              name: '新建',
              type: 'line',
              stack: '1',
              smooth: true,
              data: created,
              //   data: this.bugsLine.created,
              itemStyle: {
                normal: {
                  label: {
                    show: true,
                    formatter: '{c}'
                  }
                }
              },
              markPoint: {
                data: [
                  { type: 'max', name: '最大值' },
                  { type: 'min', name: '最小值' }
                ]
              },
              markLine: { data: [{ type: 'average', name: '平均值' }] }
            },
            {
              name: '完结',
              type: 'line',
              stack: '2',
              smooth: true,
              data: fixed,
              //   data: this.bugsLine.fixed,
              itemStyle: {
                normal: {
                  label: {
                    show: true,
                    formatter: '{c}'
                  }
                }
              },
              markPoint: {
                data: [
                  { type: 'max', name: '最大值' },
                  { type: 'min', name: '最小值' }
                ]
              }
            },
            {
              name: '未完结',
              type: 'line',
              stack: '3',
              smooth: true,
              data: todo,
              //   data: this.bugsLine.todo,
              itemStyle: {
                normal: {
                  label: {
                    show: true,
                    formatter: '{c}'
                  }
                }
              },
              markPoint: {
                data: [
                  { type: 'max', name: '最大值' },
                  { type: 'min', name: '最小值' }
                ]
              }
            }
          ]
        }
        this.myChart.setOption(option)
        this.loading = false
      })
    }
  }
}
</script>

<style scoped>
.el-table {
  margin-top: 0px;
  font-size: 12px;
}
</style>
