<template>
  <div>
    <!-- 面包屑导航区 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>Mock管理</el-breadcrumb-item>
      <el-breadcrumb-item>Mock接口管理</el-breadcrumb-item>
    </el-breadcrumb>
    <!-- 卡片视图 -->
    <el-card>
      <el-row :gutter="20">
        <el-col :span="6">
          <el-input
            placeholder="请输入关键字搜索接口名称"
            v-model="queryInfo.kw"
            clearable
            @clear="getMockList"
            @keyup.enter.native="getMockList"
          >
            <el-button slot="append" icon="el-icon-search" @click="getMockList"></el-button>
          </el-input>
        </el-col>
        <el-col :span="4">
          <el-button type="primary" @click="addDialogVisible = true">添加接口</el-button>
        </el-col>
      </el-row>
      <!-- 表格数据 -->
      <el-table :data="mockList" border stripe>
        <el-table-column align="center" label="序号" type="index"></el-table-column>
        <el-table-column label="名称" prop="name"></el-table-column>
        <el-table-column align="center" label="请求方式" prop="method_name" width="100px"></el-table-column>
        <el-table-column label="接口地址" prop="url">
          <template slot-scope="scopeUrl">
            <!-- <el-input v-model="scopeUrl.row.url"></el-input> -->
            <span>{{ baseUrl + scopeUrl.row.url }}</span>
          </template>
        </el-table-column>
        <el-table-column align="center" label="被调用次数" prop="count" width="100px"></el-table-column>
        <el-table-column label="返回报文" prop="response"></el-table-column>
        <el-table-column align="center" label="是否初始化" prop="is_init" width="100px">
          <template slot-scope="scopeInit">
            <el-switch v-model="scopeInit.row.is_init" disabled></el-switch>
          </template>
        </el-table-column>
        <el-table-column label="模板名称" prop="init_name"></el-table-column>
        <el-table-column align="center" label="操作" width="140px">
          <template slot-scope="scope">
            <el-button
              type="primary"
              icon="el-icon-edit"
              size="mini"
              @click="editMockById(scope.row.id)"
            ></el-button>
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              @click="removeById(scope.row.id)"
            ></el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页区域 background -->
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="queryInfo.page"
        :page-sizes="[10, 20, 30, 40, 50]"
        :page-size="queryInfo.pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      ></el-pagination>
      <!-- 添加Mock弹窗 -->
      <el-dialog
        title="添加接口"
        :visible.sync="addDialogVisible"
        width="30%"
        :before-close="addHandleClose"
        :close-on-click-modal="false"
      >
        <!-- 弹窗body -->
        <el-form
          :model="addMockForm"
          :rules="addMockFormRules"
          ref="addMockFormRef"
          label-width="100px"
          class="ruleForm"
        >
          <el-form-item label="接口名称" prop="name">
            <el-input v-model="addMockForm.name" placeholder="请输入接口名称"></el-input>
          </el-form-item>
          <el-form-item label="请求方式" prop="method">
            <el-select v-model="addMockForm.method" placeholder="请选择">
              <el-option
                v-for="requestMethod in requestMethods"
                :key="requestMethod.method"
                :label="requestMethod.name"
                :value="requestMethod.method"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="接口路径" prop="url">
            <el-input v-model="addMockForm.url" placeholder="请输入接口路径"></el-input>
          </el-form-item>
          <el-form-item label="被调用次数" prop="count">
            <el-input v-model="addMockForm.count" placeholder="请输入接口被调用次数" disabled></el-input>
          </el-form-item>
          <el-form-item label="是否初始化" prop="is_init">
            <el-switch v-model="addMockForm.is_init"></el-switch>
          </el-form-item>
          <el-form-item label="初始化模板" prop="init_id">
            <el-select v-model="addMockForm.init_id" placeholder="请选择">
              <el-option
                v-for="mockinit in mockInitList"
                :key="mockinit.id"
                :label="mockinit.name"
                :value="mockinit.id"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="返回报文" prop="response">
            <el-input
              type="textarea"
              :rows="2"
              v-model="addMockForm.response"
              placeholder="请输入接口返回报文"
            ></el-input>
          </el-form-item>
        </el-form>
        <!-- 弹窗footer -->
        <span slot="footer" class="dialog-footer">
          <el-button @click="addCancelDialogVisible">取 消</el-button>
          <el-button type="primary" @click="addMockSubmit">确 定</el-button>
        </span>
      </el-dialog>

      <!-- 编辑Mock弹窗 -->
      <el-dialog
        title="编辑接口"
        :visible.sync="editDialogVisible"
        width="30%"
        :before-close="editHandleClose"
        :close-on-click-modal="false"
      >
        <!-- 弹窗body -->
        <el-form
          :model="editMockForm"
          :rules="editMockFormRules"
          ref="editMockFormRef"
          label-width="100px"
          class="ruleForm"
        >
          <el-form-item label="接口名称" prop="name">
            <el-input v-model="editMockForm.name" placeholder="请输入接口名称"></el-input>
          </el-form-item>
          <el-form-item label="请求方式" prop="method">
            <el-select v-model="editMockForm.method" placeholder="请选择">
              <el-option
                v-for="requestMethod in requestMethods"
                :key="requestMethod.method"
                :label="requestMethod.name"
                :value="requestMethod.method"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="接口路径" prop="url">
            <el-input v-model="editMockForm.url" placeholder="请输入接口路径"></el-input>
          </el-form-item>
          <el-form-item label="被调用次数" prop="count">
            <el-input v-model="editMockForm.count" placeholder="请输入接口被调用次数" disabled></el-input>
          </el-form-item>
          <el-form-item label="是否初始化" prop="是否初始化">
            <el-switch v-model="editMockForm.is_init"></el-switch>
          </el-form-item>
          <el-form-item label="初始化模板" prop="init_id">
            <el-select v-model="editMockForm.init_id" placeholder="请选择">
              <el-option
                v-for="mockinit in mockInitList"
                :key="mockinit.id"
                :label="mockinit.name"
                :value="mockinit.id"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="返回报文" prop="response">
            <el-input
              type="textarea"
              :rows="2"
              v-model="editMockForm.response"
              placeholder="请输入接口返回报文"
            ></el-input>
          </el-form-item>
        </el-form>
        <!-- 弹窗footer -->
        <span slot="footer" class="dialog-footer">
          <el-button @click="editCancelDialogVisible">取 消</el-button>
          <el-button type="primary" @click="editMockSubmit(editMockForm.id)">确 定</el-button>
        </span>
      </el-dialog>
    </el-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      baseUrl: this.GLOBAL.BASE_URL,
      // 请求方式
      requestMethods: [
        { method: 1, name: 'Get' },
        { method: 2, name: 'Post' },
        { method: 3, name: 'Put' },
        { method: 4, name: 'Delete' }
      ],
      queryInfo: {
        kw: '',
        page: 1
        // pageSize: 10
      },
      // 商品列表
      mockList: [],
      mockInitList: [],
      // 商品总数
      total: 0,
      addDialogVisible: false,
      addMockForm: {
        name: '',
        method: '',
        url: '',
        count: 0,
        response: '',
        is_init: false,
        init_id: ''
      },
      addMockFormRules: {
        name: [
          { required: true, message: '请输入接口名称', trigger: 'blur' },
          { min: 3, max: 32, message: '长度在 3 到 32 个字符', trigger: 'blur' }
        ],
        method: [
          { required: true, message: '请选择请求方式', trigger: 'blur' }
        ],
        url: [
          { required: true, message: '请输入接口路径', trigger: 'blur' },
          { min: 1, max: 32, message: '长度在 1 到 32 个字符', trigger: 'blur' }
        ],
        count: [
          { required: true, message: '请输入被调用次数', trigger: 'blur' }
        ],
        init_id: [
          { required: true, message: '请输入初始化模板', trigger: 'blur' }
        ],
        response: [
          { required: true, message: '请输入返回报文', trigger: 'blur' },
          {
            min: 3,
            max: 1024,
            message: '长度在 3 到 1024 个字符',
            trigger: 'blur'
          }
        ]
      },
      editDialogVisible: false,
      editMockForm: {
        name: '',
        method: '',
        url: '',
        count: 0,
        response: '',
        is_init: false,
        init_id: 0
      },
      editMockFormRules: {
        name: [
          { required: true, message: '请输入接口名称', trigger: 'blur' },
          { min: 3, max: 32, message: '长度在 3 到 32 个字符', trigger: 'blur' }
        ],
        method: [
          { required: true, message: '请选择请求方式', trigger: 'blur' }
        ],
        url: [
          { required: true, message: '请输入接口路径', trigger: 'blur' },
          { min: 1, max: 32, message: '长度在 1 到 32 个字符', trigger: 'blur' }
        ],
        count: [
          { required: true, message: '请输入被调用次数', trigger: 'blur' }
        ],

        init_id: [
          { required: true, message: '请输入初始化模板', trigger: 'blur' }
        ],
        response: [
          { required: true, message: '请输入返回报文', trigger: 'blur' },
          {
            min: 3,
            max: 1024,
            message: '长度在 3 到 1024 个字符',
            trigger: 'blur'
          }
        ]
      }
    }
  },

  created() {
    this.getMockList()
    this.getMockInitList()
  },
  methods: {
    async getMockInitList() {
      const { data: res } = await this.$http.get('/mock/init?pageSize=100')
      if (res.code !== 200) {
        return this.$message.error(res.message)
      }
      this.mockInitList = res.data
      //   console.log(this.goodsList)
      this.total = res.total_count
    },
    // 根据分页获取对应的Mock列表
    async getMockList() {
      const { data: res } = await this.$http.get('/mock/config', {
        params: this.queryInfo
      })
      if (res.code !== 200) {
        return this.$message.error(res.message)
      }
      this.mockList = res.data
      this.total = res.total_count
    },
    // 添加项目弹窗 点击 x的效果
    addHandleClose() {
      this.addDialogVisible = false
      this.$refs.addVersionFormRef.resetFields()
    },
    // 取消按钮操作
    addCancelDialogVisible() {
      this.addDialogVisible = false
      this.$refs.addMockFormRef.resetFields()
    },
    addMockSubmit() {
      this.$refs.addMockFormRef.validate(async valid => {
        if (!valid) return false
        const { data: res } = await this.$http.post(
          '/mock/config',
          this.addMockForm
        )
        if (res.code !== 200) return this.$message.error('添加失败！')
        this.addDialogVisible = false
        this.$refs.addMockFormRef.resetFields()
        this.$message.success('添加成功！')
        this.getMockList()
      })
    },
    // 变更分页size
    handleSizeChange(newSize) {
      this.queryInfo.pageSize = newSize
      this.getMockList()
    },
    // 变更页面
    handleCurrentChange(newSize) {
      this.queryInfo.page = newSize
      this.getMockList()
    },
    // 删除Mock
    async removeById(id) {
      const confirmResult = await this.$confirm(
        '此操作将永久删除, 是否继续?',
        '温馨提示',
        {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }
      ).catch(err => err)
      if (confirmResult !== 'confirm') {
        return this.$message.info('已取消删除！')
      }
      const { data: res } = await this.$http.delete('/mock/config/' + id)
      if (res.code !== 200) {
        return this.$message.error(res.message)
      }
      this.$message.success('删除成功！')
      this.getMockList()
    },
    async editMockById(id) {
      const { data: res } = await this.$http.get('/mock/config/' + id)
      if (res.code !== 200) return this.$message.error('系统异常！')
      this.editMockForm.name = res.data[0].name
      this.editMockForm.id = res.data[0].id
      this.editMockForm.method = res.data[0].method
      this.editMockForm.url = res.data[0].url
      this.editMockForm.count = res.data[0].count
      this.editMockForm.is_init = res.data[0].is_init
      this.editMockForm.init_id = res.data[0].init_id
      this.editMockForm.response = res.data[0].response

      this.editDialogVisible = true
    },
    // 取消编辑Mock按钮操作
    editCancelDialogVisible() {
      this.editDialogVisible = false
      this.$refs.editMockFormRef.resetFields()
    },
    editMockSubmit(id) {
      this.$refs.editMockFormRef.validate(async valid => {
        if (!valid) return false
        const { data: res } = await this.$http.put(
          '/mock/config/' + id,
          this.editMockForm
        )
        if (res.code !== 200) return this.$message.error('编辑失败！')
        this.editDialogVisible = false
        this.$refs.editMockFormRef.resetFields()
        this.$message.success('编辑成功！')
        this.getMockList()
      })
    },
    // 添加环境弹窗 点击 x的效果
    editHandleClose() {
      this.$refs.editEnvFormRef.resetFields()
      this.editDialogVisible = false
    }
  }
}
</script>

<style lang="less" scoped></style>
