<template>
  <div>
    <!-- 面包屑导航区 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>工具管理</el-breadcrumb-item>
      <el-breadcrumb-item>json格式化</el-breadcrumb-item>
    </el-breadcrumb>
    <el-card>
      <el-row :gutter="20">
        <el-col :span="6"> json格式化 </el-col></el-row
      ></el-card
    >
  </div>
</template>

<script>
export default {}
</script>

<style lang="less" scoped></style>
