<template>
  <div>
    <!-- 面包屑导航区 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>博客管理</el-breadcrumb-item>
      <el-breadcrumb-item>软件测试</el-breadcrumb-item>
    </el-breadcrumb>
    <el-card>
      <el-row :gutter="20">
        <el-col :span="6"
          ><el-input
            placeholder="请输入关键字搜索博客标题"
            v-model="queryInfo.kw"
            clearable
            @clear="getSoftTestList"
            @keyup.enter.native="getSoftTestList"
          >
            <el-button
              slot="append"
              icon="el-icon-search"
              @click="getSoftTestList"
            ></el-button> </el-input
        ></el-col>
        <el-col :span="4">
          <el-button type="primary" @click="addDialogVisible = true"
            >添加博客</el-button
          >
        </el-col></el-row
      >
      <!-- 表格数据 -->
      <mavon-editor v-model="value"/>
      <el-table :data="softtestList" border stripe>
        <el-table-column
          align="center"
          label="序号"
          type="index"
        ></el-table-column>
        <el-table-column label="标题" prop="title"></el-table-column>
        <el-table-column label="类型" prop="type"></el-table-column>
        <el-table-column label="状态" prop="status"></el-table-column>
        <el-table-column align="center" label="操作" width="200px">
          <template slot-scope="scope">
            <el-button
              type="primary"
              icon="el-icon-edit"
              size="mini"
              @click="editSofttestById(scope.row.id)"
            ></el-button>
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              @click="removeById(scope.row.id)"
            ></el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页区域 background -->
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="queryInfo.page"
        :page-sizes="[10, 20, 30, 40, 50]"
        :page-size="queryInfo.pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      ></el-pagination>
    </el-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      queryInfo: {
        kw: '',
        page: 1
        // pageSize: 10
      },
      total: 0,
      softtestList: [],
      addDialogVisible: false,
      value: ''
    }
  },
  created() {
    this.getSoftTestList()
  },
  methods: {
    // 获取softtest列表
    async getSoftTestList() {
      const { data: res } = await this.$http.get('/blog/softtest', {
        params: this.queryInfo
      })
      if (res.code !== 200) {
        return this.$message.error(res.message)
      }
      this.softtestList = res.data
      //   console.log(this.goodsList)
      this.total = res.total_count
    },
    // 变更分页size
    handleSizeChange(newSize) {
      this.queryInfo.pageSize = newSize
      this.getSoftTestList()
    },
    // 变更页面
    handleCurrentChange(newSize) {
      this.queryInfo.page = newSize
      this.getSoftTestList()
    },
    // 删除
    async removeById(id) {
      const confirmResult = await this.$confirm(
        '此操作将永久删除, 是否继续?',
        '温馨提示',
        {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }
      ).catch(err => err)
      if (confirmResult !== 'confirm') {
        return this.$message.info('已取消删除！')
      }
      const { data: res } = await this.$http.delete('/blog/softtest/' + id)
      if (res.code !== 200) {
        return this.$message.error(res.message)
      }
      this.$message.success('删除成功！')
      this.getSoftTestList()
    }
  }
}
</script>
<style scoped></style>
