<template>
  <div>
    <!-- 面包屑导航区 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>项目管理</el-breadcrumb-item>
      <el-breadcrumb-item>环境管理</el-breadcrumb-item>
    </el-breadcrumb>
    <!-- 卡片视图 -->
    <el-card>
      <el-row :gutter="20">
        <el-col :span="6">
          <el-input
            placeholder="请输入关键字搜索环境名称"
            v-model="queryInfo.kw"
            clearable
            @clear="getEnvsList"
            @keyup.enter.native="getEnvsList"
          >
            <el-button slot="append" icon="el-icon-search" @click="getEnvsList"></el-button>
          </el-input>
        </el-col>
        <el-col :span="4">
          <el-button type="primary" @click="addDialogVisible = true">添加环境</el-button>
        </el-col>
      </el-row>
      <!-- 表格数据 -->
      <el-table :data="envsList" border stripe>
        <el-table-column align="center" label="序号" type="index"></el-table-column>
        <el-table-column label="环境名称" prop="name"></el-table-column>
        <el-table-column label="IP/域名" prop="address"></el-table-column>
        <el-table-column align="center" label="操作" width="200px">
          <template slot-scope="scope">
            <el-button
              type="primary"
              icon="el-icon-edit"
              size="mini"
              @click="editEnvById(scope.row.id)"
            ></el-button>
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              @click="removeById(scope.row.id)"
            ></el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页区域 background -->
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="queryInfo.page"
        :page-sizes="[10, 20, 30, 40, 50]"
        :page-size="queryInfo.pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      ></el-pagination>
      <!-- 添加环境弹窗 -->
      <el-dialog
        title="添加环境"
        :visible.sync="addDialogVisible"
        width="30%"
        :before-close="addHandleClose"
        :close-on-click-modal="false"
      >
        <!-- 弹窗body -->
        <el-form
          :model="addEnvForm"
          :rules="addEnvFormRules"
          ref="addEnvFormRef"
          label-width="80px"
          class="ruleForm"
        >
          <el-form-item label="环境名称" prop="name">
            <el-input v-model="addEnvForm.name" placeholder="请输入环境名称"></el-input>
          </el-form-item>
          <el-form-item label="IP/域名" prop="address">
            <el-input v-model="addEnvForm.address" placeholder="请输入IP/域名"></el-input>
          </el-form-item>
        </el-form>
        <!-- 弹窗footer -->
        <span slot="footer" class="dialog-footer">
          <el-button @click="addCancelDialogVisible">取 消</el-button>
          <el-button type="primary" @click="addEnvSubmit">确 定</el-button>
        </span>
      </el-dialog>

      <!-- 编辑环境弹窗 -->
      <el-dialog
        title="编辑环境"
        :visible.sync="editDialogVisible"
        width="30%"
        :before-close="editHandleClose"
        :close-on-click-modal="false"
      >
        <!-- 弹窗body -->
        <el-form
          :model="editEnvForm"
          :rules="editEnvFormRules"
          ref="editEnvFormRef"
          label-width="80px"
          class="ruleForm"
        >
          <el-form-item label="环境名称" prop="name">
            <el-input v-model="editEnvForm.name" placeholder="请输入环境名称"></el-input>
          </el-form-item>
          <el-form-item label="IP/域名" prop="address">
            <el-input v-model="editEnvForm.address" placeholder="请输入IP/域名"></el-input>
          </el-form-item>
        </el-form>
        <!-- 弹窗footer -->
        <span slot="footer" class="dialog-footer">
          <el-button @click="editCancelDialogVisible">取 消</el-button>
          <el-button type="primary" @click="editEnvSubmit(editEnvForm.id)">确 定</el-button>
        </span>
      </el-dialog>
    </el-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      queryInfo: {
        kw: '',
        page: 1
        // pageSize: 10
      },
      // 商品列表
      envsList: [],
      // 商品总数
      total: 0,
      addDialogVisible: false,
      addEnvForm: { name: '', address: '' },
      addEnvFormRules: {
        name: [
          { required: true, message: '请输入环境名称', trigger: 'blur' },
          { min: 3, max: 32, message: '长度在 3 到 32 个字符', trigger: 'blur' }
        ],
        address: [
          { required: true, message: '请输入IP/域名', trigger: 'blur' },
          { min: 3, max: 32, message: '长度在 3 到 32 个字符', trigger: 'blur' }
        ]
      },
      editDialogVisible: false,
      editEnvForm: { id: '', name: '', address: '' },
      editEnvFormRules: {
        name: [
          { required: true, message: '请输入环境名称', trigger: 'blur' },
          { min: 3, max: 32, message: '长度在 3 到 32 个字符', trigger: 'blur' }
        ],
        address: [
          { required: true, message: '请输入IP/域名', trigger: 'blur' },
          { min: 3, max: 32, message: '长度在 3 到 32 个字符', trigger: 'blur' }
        ]
      }
    }
  },
  created() {
    this.getEnvsList()
  },
  methods: {
    // 根据分页获取对应的环境列表
    async getEnvsList() {
      const { data: res } = await this.$http.get('/interfaces/env', {
        params: this.queryInfo
      })
      if (res.code !== 200) {
        return this.$message.error(res.message)
      }
      this.envsList = res.data
      //   console.log(this.goodsList)
      this.total = res.total_count
    },
    // 添加项目弹窗 点击 x的效果
    addHandleClose() {
      this.addDialogVisible = false
      this.$refs.addEnvFormRef.resetFields()
    },
    // 取消按钮操作
    addCancelDialogVisible() {
      this.addDialogVisible = false
      this.$refs.addEnvFormRef.resetFields()
    },
    addEnvSubmit() {
      this.$refs.addEnvFormRef.validate(async valid => {
        if (!valid) return false
        const { data: res } = await this.$http.post(
          '/interfaces/env',
          this.addEnvForm
        )
        if (res.code !== 200) return this.$message.error('添加失败！')
        this.addDialogVisible = false
        this.$refs.addEnvFormRef.resetFields()
        this.$message.success('添加成功！')
        this.getEnvsList()
      })
    },
    // 变更分页size
    handleSizeChange(newSize) {
      this.queryInfo.pageSize = newSize
      this.getEnvsList()
    },
    // 变更页面
    handleCurrentChange(newSize) {
      this.queryInfo.page = newSize
      this.getEnvsList()
    },
    // 删除环境
    async removeById(id) {
      const confirmResult = await this.$confirm(
        '此操作将永久删除该环境, 是否继续?',
        '温馨提示',
        {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }
      ).catch(err => err)
      if (confirmResult !== 'confirm') {
        return this.$message.info('已取消删除！')
      }
      const { data: res } = await this.$http.delete('/interfaces/env/' + id)
      if (res.code !== 200) {
        return this.$message.error('删除环境失败！')
      }
      this.$message.success('删除成功！')
      this.getEnvsList()
    },
    async editEnvById(id) {
      const { data: res } = await this.$http.get('/interfaces/env/' + id)
      if (res.code !== 200) return this.$message.error('系统异常！')
      this.editEnvForm.name = res.data[0].name
      this.editEnvForm.id = res.data[0].id
      this.editEnvForm.address = res.data[0].address
      this.editDialogVisible = true
    },
    // 取消编辑环境按钮操作
    editCancelDialogVisible() {
      this.editDialogVisible = false
      this.$refs.editEnvFormRef.resetFields()
    },
    editEnvSubmit(id) {
      this.$refs.editEnvFormRef.validate(async valid => {
        if (!valid) return false
        const { data: res } = await this.$http.put(
          '/interfaces/env/' + id,
          this.editEnvForm
        )
        if (res.code !== 200) return this.$message.error('编辑失败！')
        this.editDialogVisible = false
        this.$refs.editEnvFormRef.resetFields()
        this.$message.success('编辑成功！')
        this.getEnvsList()
      })
    },
    // 添加环境弹窗 点击 x的效果
    editHandleClose() {
      this.$refs.editEnvFormRef.resetFields()
      this.editDialogVisible = false
    }
  }
}
</script>

<style lang="less" scoped></style>
